<template>
  <v-app>
    <div>
      <v-app-bar color="indigo" dense dark>
        <v-app-bar-nav-icon></v-app-bar-nav-icon>
        <v-toolbar-title>App page</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
      </v-app-bar>
    </div>
    <p>
      <router-link to="/home">go Home</router-link>|
      <router-link to="/about">go About</router-link>
    </p>
    <router-view></router-view>
  </v-app>
</template>