<template>
  <div>
    <cita-agregar-component />
    <cita-component v-for="(cita,index) in citas" :key="index" :cita="cita" :index='index'/>
  </div>
</template>
<script>
import CitaEditar from "../components/CitaAgregarComponent.vue";
import CitaComponente from "../components/CitaComponent";
import { mapState, mapActions, mapMutations} from "vuex";
export default {
  async created() {
    await this.obtenerCitas();
  },
  computed:{
    ...mapState(['citas'])
  },
  methods:{
    ...mapMutations(['llenarCitas']),
    ...mapActions(['obtenerCitas'])
  }
};
</script>