<template>
  <div class="card">
    <div v-if="indiceEditar!==index" class="card-body">
      <h5 class="card-title">
        <b>{{cita.autor}}, id: {{cita.id}}, index: {{index}}</b>
      </h5>
      <p class="card-text">{{cita.cita}}</p>
      <button @click="indiceEditar=index" class="btn btn-primary">Editar</button>
      <button @click="eliminarCita({id:cita.id,index:index})" class="btn btn-danger">Eliminar</button>
    </div>
    <div v-else class="card-body">
      <h5 class="card-title">
        <input class="form-control rounded-0 titulo" v-model="cita.autor" placeholder="Escriba el autor"/>
      </h5>
      <textarea class="form-control rounded-0" rows="2" v-model="cita.cita" placeholder="Escriba la cita"/>
      <button @click="editarCita(cita); indiceEditar=null" class="btn btn-primary">Guardar</button>
      <button @click="indiceEditar=null" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</template>

<script>
import CitaEditar from "./CitaAgregarComponent.vue";
import { mapMutations } from "vuex";
export default {
  props: ['cita','index'],
  data() {
    return {
      indiceEditar: null
    };
  },
  methods: {
    ...mapMutations(["eliminarCita", "editarCita"])
  }
};
</script>
