<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <input class="form-control rounded-0 titulo" v-model="cita.autor" placeholder="Escriba el autor"/>
      </h5>
        <textarea class="form-control rounded-0" rows="2" v-model="cita.cita" placeholder="Escriba la cita"/>
        <br>
      <button @click="agregarCita(cita)" class="btn btn-success">Agregar</button>
      <button class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</template>
<style>
  .titulo{
    color:#212529;
    font: 18px Nunito, sans-serif;
    font-weight:800;
  }
  .contenido{
    color:#212529;
    font: 14.4px Nunito, sans-serif;
    font-weight:800;
  }
</style>
<script>
import {mapMutations} from 'vuex'

export default {
  data() {
    return {
      cita:{
        autor: "",
        cita:""
      }
    };
  },
  methods: {
    ...mapMutations(['agregarCita']),
  }
};
</script>
